{{#block "header"}}
    <html>
    <head>
            <title>KOMBUCHA</title>
    </head>
    <body>
{{/block}}
<h1>Kombucha Reviews</h1>

{{#block "content"}}
{{/block}}

{{#block "footer"}}
    </body>
    </html>
{{/block}}